@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2vh 2vw;
  background: #1B5678;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.custom-header {
  padding: 2vh 2vw;
  background: #1B5678;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  font-family: 'Roboto', sans-serif;
}

.custom-header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2vw;
}

.centered-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.header-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2vw;
}

.button_white {
  padding: 1vh 1vw;
  background: #FFFFFF;
  border: none;
  cursor: default;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
  width: 8vw;
  height: 6vh;
  border-radius: 4px;
}

.button_white:hover {
  background: gray;
}

main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 6vh;
}

.signup-section form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を中央に揃える */
  width: 100%;
}

.signup-section h2 {
  font-size: 2vw;
  font-weight: 400;
  line-height: 2vh;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 8vh;
}

.form-group {
  margin-bottom: 4vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;

}

.form-group label {
  display: block;
  font-size: 0.6vw;
  color: #0000008A;
}

.form-group p {
  font-size: 0.6vw;
  color: #0000008A;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.5vh;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  font-size: 0.8vw;
  padding: 1vh 1vw;
  font-weight: 400;
  line-height: 1vh;
  border: none;
  border-radius: 4px;
  background-color: #1B5678;
  color: white;
  cursor: default;
  margin-top: 4vh;
  margin: 1vh auto;
  width: 14vw;
  height: 6vh;
}

.submit-button:hover {
  background-color: gray;
}


footer {
  background: #1B5678;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  min-height: 1vh;;
}

.custom-footer {
  background: #1B5678;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 2vh;
  min-height: 1vh;;
}

footer p {
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
}

.custom-footer p {
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
  }

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height:35vh;
  margin-bottom: auto;
}

.profile-image {
  width: 30vw;
  height:45vh;
  display: flex; /* Flexboxの表示設定を追加 */
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: center; /* 子要素を中央揃えにする */
  flex: none;
  margin-top: auto;
  margin-bottom: -5vh; /* 下にずらす距離（負の値で上へ、正の値で下へ） */
  margin-left: 3vw;
}

.profile-image img {
  width: 16vw;
  height: 35vh;
  border-radius: 50%;
  object-fit: cover;
}

.default-profile-image {
  width: 16vw;
  height: 35vh;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.profile-info {
  width: 35vw;
  height:25vh;  
  margin: 0 1vw;
  flex: none;
}

.profile-info h2 {
  width: 14vw;
  border-bottom: 2px solid #00000080;
  padding-bottom: 5px; /* 文字とボーダーとの間隔を調整 */
}

.profile-info p {
  font-size: 1vw;
}

.profile-edit-button {
  width: 14vw;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を中央に揃える */
}

.chart h2 {
  text-align: center; /* テキストを中央揃えにする */
  border-bottom: 2px solid #00000080;
  padding-bottom: 5px; /* 文字とボーダーとの間隔を調整 */
  width: 20vw;
}

.textarea-style {
  border-bottom: 1px solid #000000;
  font-size: 0.7em;
  letter-spacing: 0.01vw;
  width: 28vw;
  height: 13vh;
  resize: none;
}

.hidden {
  display: none;
}

.file-style {
  background-color: #0000001A;
  color: #000000BF;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
  border-radius: 0.1vw;
  text-align: center;
  font-size: 2vw;
  font-weight: 400;
  width: 30%;
  line-height: 3vh;
}

.file-style:hover {
  background-color: #5c5b5b; /* ホバー時の背景色 */
}

.category-section {
  border: 1.2px solid #00000080; /* グレーの枠線 */
  padding: 1vh 2vw; /* 内側の余白 */
  border-radius: 4px;
  width: 50vw;
  margin: 0 auto 4vh auto; /* 中央寄せ */
}

.category-section h3 {
  width: 16vw;
  border-bottom: 2px solid #00000080;
  padding-bottom: 5px; /* 文字とボーダーとの間隔を調整 */
}

.category-section table {
  width: 100%; /* テーブルの幅をセクション全体に */
  border-collapse: collapse; /* セルのボーダーを結合する */
  margin-bottom: 20px; /* ボタンとの間隔を開ける */
  box-shadow: 
  0 1px 5px rgba(0,0,0,0.12), /* 1番目のシャドウ */
  0 2px 2px rgba(0,0,0,0.14), /* 2番目のシャドウ */
  0 3px 1px -2px rgba(0,0,0,0.20); /* 3番目のシャドウ */
}

.category-section th,
.category-section td {
  border-top: 1px solid #ccc; /* セルにグレーの枠線を追加 */
  border-bottom: 1px solid #ccc; /* セルにグレーの枠線を追加 */
  padding: 10px; /* セルの内側の余白 */
  text-align: left; /* テキストを左揃えに */
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.8vw;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.save-button {
  color:#1B5678;
  border-color: #1B5678;
  border: 1px solid #1B5678;
  border-radius: 2px;
  font-size: 0.8vw;
  background-color: #fff;
  font-weight: 400;
  padding: 0.4vh 0.8vw;
}

.delete-button {
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #EE6969;
  font-size: 0.8vw;
  font-weight: 400;
  padding: 0.4vh 0.8vw;
}

.month-section {
  display: flex;
  align-items: center; /* アイテムを垂直方向の中心に配置 */
  align-self: flex-start; /* 左端に寄せる */
  width: 100%; /* セクションの幅を最大にする */
  margin-bottom: 1vh;
  font-weight: 700;
  /* padding-left: 22vw; */
}

.month-pulldown {
  /* 必要なスタイルをここに追加 */
  margin: -2vh 0 2vh 23vw;
}

input[type="number"] {
  border: 1px solid #ccc; /* セルにグレーの枠線を追加 */
  border-radius: 2px;
  width: 8vw;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal fade {
  padding: 5vh;
  width: 44vw;
  height: 22vh;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 60vh;
  padding: 3rem; /* 内容に余白を与える */
}

.modal-content p {
  font-weight: 700;
  font-size: 1vw;
}

#time {
  width: 100%;
  padding: 0.5vh;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-dialog {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - (1rem * 2));
}

.modal-dialog .modal-content {
  /* モーダルの内容が画面の大きさによっては縦に伸びすぎないようにする */
  overflow-y: auto; /* 内容が多い場合はスクロール */
  max-height: calc(100vh - (1rem * 2)); /* 上下のマージンを考慮した最大の高さ */
}