@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 30px 40px;
  background: #1B5678;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
}

.button_white {
  padding: 16px 40px;
  background: #FFFFFF;
  border: none;
  cursor: default;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  width: 152px;
  height: 53px;
  border-radius: 4px;
}

.button_white:hover {
  background: gray;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-section h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  margin: 0 auto;
  width: 480px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.submit-button {
  display: block;
  padding: 16px 80px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  border: none;
  border-radius: 4px;
  background-color: #1B5678;
  color: white;
  cursor: default;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: gray;
}


footer {
  background: #1B5678;
  color: #FFFFFF;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}