@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2vh 2vw;
  background: #1B5678;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.centered-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.header-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2vw;
  line-height: 3vh;
}

.button_white {
  padding: 1vh 1vw;
  background: #FFFFFF;
  border: none;
  cursor: default;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
  width: 8vw;
  height: 6vh;
  border-radius: 4px;
}

.button_white:hover {
  background: gray;
}

main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 6vh;
}

.signup-section form {
  width: 27vw;
}

.signup-section h2 {
  font-size: 2vw;
  font-weight: 400;
  line-height: 2vh;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 6vh;
}

.form-group {
  margin-bottom: 4vh;
}

.form-group label {
  font-size: 0.5vw;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5vh;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  font-size: 0.8vw;
  padding: 1vh 1vw;
  font-weight: 400;
  line-height: 1vh;
  border: none;
  border-radius: 4px;
  background-color: #1B5678;
  color: white;
  cursor: default;
  margin-top: 4vh;
  margin: 1vh auto;
  width: 10vw;
  height: 5vh;
}

.submit-button:hover {
  background-color: gray;
}


footer {
  background: #1B5678;
  color: #FFFFFF;
  min-height: 1vh;;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-weight: 400;
  font-size: 1vw;
  line-height: 1vh;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height:35vh;
  margin-bottom: auto;
}

.profile-image {
  width: 30vw;
  height:45vh;
  display: flex; /* Flexboxの表示設定を追加 */
  flex-direction: column; /* 子要素を縦に並べる */
  align-items: center; /* 子要素を中央揃えにする */
  margin: auto;
  flex: none;
}

.profile-image img {
  width: 16vw;
  height: 35vh;
  border-radius: 50%; /* 丸型にする */
  object-fit: cover;
  /* background-color: #C4C4C4; */
}

.profile-info {
  max-width: 35vw;
  max-height:25vh;  
  margin: 0 2vw;
  flex: none;
}

.profile-info h2 {
  border-bottom: 2px solid #00000080;
  padding-bottom: 5px; /* 文字とボーダーとの間隔を調整 */
}

.chart h2 {
  display: block; /* ブロックレベル要素として振る舞うように明示的に設定 */
  border-bottom: 2px solid #00000080;
  padding-bottom: 5px; /* 文字とボーダーとの間隔を調整 */
  width: 20vw;
  margin-left: auto; /* 左マージンを自動調整 */
  margin-right: auto; /* 右マージンを自動調整 */
}
